@charset "utf-8";
header,div,ul,li,h1,h2,iframe,section,img,footer{margin:0;padding:0; font-family:"AppleSDGothicNeoSB00";}
li{list-style:none; color:#fff;}
a{text-decoration:none; color:#000; display:block;}
a:hover { text-decoration:none !important }
body{background:#f2ebe6; overflow-x:hidden;}

/*top*/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background-color:#fff;}

.texthidden{display:none;}
.sbtit{display:none}
header .hdm{width:800px; }
header .mainmenu{ width:25%;}
header .mainmenu > a{font-size:1.65em; font-weight:700; color:#000 !important;}
header .wrap{width:1198px; height:auto;margin:0 auto;}
header .h1,header .mainmenu,header .order{float:left; margin-top:20px;}
header .mainmenu , header .order{margin-top:40px;}
header .h1{margin-right:55px;width:8%; }
header .h1 img{width:100%;}
header .submenu{display:none;}
header .hdm:hover ul{display:block;}
header .hn{background:#fff; border:none; box-shadow: 1px 1px 5px lightgray; height:auto;}
header .order{width:12%;height:50px;background:url(../img/delivery.png)no-repeat;background-size:cover; margin-left:50px;}
header .order a{text-align:center;font-size:1.5em; font-weight:700; line-height:48px; color:#fff;}
header .submenu{margin-left:20px;margin-top:25px;}
header .submenu li{margin-bottom:10px;}
header .submenu li a{font-size:16px;}
.asas{background:red;}

/*section1*/
.section1{width:100%; overflow:hidden;}
.section1 .slide{width:1441px; margin:0 auto; margin-top:120px;}

/*section2*/
.section2{width:1441px; height:auto;margin:0 auto;}
.section2 iframe {width:100%; height:605px; border:0; margin:0 auto;}

/*section3*/
.section3{width:1441px; height:160px;margin:0 auto; background:#683a2f; margin-top:-20px;}
.section3 .sns{width:67.86%; margin:0 auto;}
.section3 .sns_list:nth-child(1) li:nth-child(1){width:25%;height:75px;background:url(../img/ico_home_sns_youtube.png)no-repeat; background-size:100%;margin-left:15%;}

.section3 .sns_list{height:auto;margin-top:45px;}
.section3 .sns_list:nth-child(2) li:nth-child(1){width:25%;height:75px;background:url(../img/ico_home_sns_insta.png)no-repeat; background-size:100%;margin-left:15%;}
.section3 .sns_list:nth-child(3) li:nth-child(1){width:25%;height:75px;background:url(../img/ico_home_sns_insta.png)no-repeat; background-size:100%;margin-left:15%;}
.section3 .sns_list{float:left; width:33%;}
.section3 .sns_list > li{float:left;}
.section3 .sns_list li a{width:100%; height:100%;color:#fff;}
.section3 .sns_list li:nth-child(2){margin-left:10px; font-size:18px;font-weight:700;margin-top:5px;font-family:"AppleSDGothicNeoEB00";}
.section3 .sns_list li:nth-child(2) span{display:block;margin-top:10px;width:100%;}
.section3 .sns_list li:nth-child(2) span a {width:100%;height:26px;font-size:0.7vw;color:#000; background:#fff; border-radius:5px; text-align:center;line-height:25px;}

/*section4*/
.section4 {width:1441px;height:26.35vw;background:pink; margin:0 auto;}
.section4 > div > div:nth-child(1){float:left;width:50%;height:26.35vw;background:url(../img/bg_home_guide_app.d27d20bc.png)no-repeat;background-color:#c7a186; background-size:cover;}
.section4 > div > div:nth-child(2){float:left;width:50%;height:26.35vw;background:url(../img/bg_home_guide_delivery.47423aad.png)no-repeat;background-color:#b08972; background-size:cover;}

/*section5*/
.section5{width:1441px;height:auto;background:#fff; margin:0 auto; top:0px; margin-top:-25px;}
.section5 div:nth-child(1){width:24.83%; margin:0 auto; margin-top:25px; display:block}
.section5 div:nth-child(1) li{text-align:center; color:#000;}
.section5 div:nth-child(1) li:nth-child(1){position:relative; top:50px;font-size:50px; font-weight:bold;}
.section5 div:nth-child(1) li:nth-child(2){margin-top:45px; font-size:20px;}
.section5 div:nth-child(1) li:nth-child(3){width:122px;height:51px; margin:0 auto; margin-top:39px;background:url(../img/btn_webhead_order.dd5f3d96.png)no-repeat;}
.section5 div:nth-child(1) li:nth-child(3) a{font-size:28px; font-weight:bold; line-height:55px; color:#fff;}

.section5 div:nth-child(2) li:nth-child(1){background:url(../img/icon_1.png)no-repeat;background-size:190px 80px; border-right:1px solid #ededed;}
.section5 div:nth-child(2) li:nth-child(2){background:url(../img/icon_2.png)no-repeat 0 -5px;background-size:190px 80px; border-right:1px solid #ededed;}
.section5 div:nth-child(2) li:nth-child(3){background:url(../img/icon_3.png)no-repeat;background-size:190px 80px; border-right:1px solid #ededed;}
.section5 div:nth-child(2) li:nth-child(4){background:url(../img/icon_4.png)no-repeat 0 -5px;background-size:190px 90px;border-right:1px solid #ededed;}
.section5 div:nth-child(2) li:nth-child(5){background:url(../img/icon_5.png)no-repeat;background-size:190px 80px; border-right:1px solid #ededed;}
.section5 div:nth-child(2) li:nth-child(6){background:url(../img/icon_6.png)no-repeat 0 -2px;background-size:190px 90px; }
.section5 div:nth-child(2) li p{margin-top:103px; font-size:20px; color:#000; text-align:center;}
.section5 div:nth-child(2) li span{color:#e22219; font-size:20px; font-weight:bold;display:block; text-align:center; margin-top:-10px;}
.section5 div:nth-child(2){width:80%;height:300px; margin:0 auto; margin-top:50px;;}
.section5 div:nth-child(2) li{background:pink; width:190px;height:186px;float:left; margin-left:0px;}


/*section6*/
.section6{width:1441px; height:200px; background:url(../img/bg_home_cs.40b21d3f.png)no-repeat center; margin:0 auto;}
.section6 h2{position:relative; top:60px; }
.section6 h2, .section6 p:nth-child(2){margin-left:150px;color:#fff;}
.section6 p:nth-child(2){margin-top:70px;}
.section6 p:nth-child(3){float:right; margin-right:150px; margin-top:-60px;font-size:50px; font-weight:bold;color:#fff;}

/*section7*/
.section7{width:100%;height:585px;background:url(../img/bg_botmenu.3d4b484b.jpg)no-repeat center;}
.section7 > div {width:1165px; margin:0 auto;}
.section7 > div > ul > li{width:233px;height:349px; float:left; margin-top:30px; border-right:1px dashed #d9c8be;}
.section7 > div > ul li li ,.section7 > div > ul li p{margin-left:23px;}
.section7 > div > ul li p{font-size:25px;font-weight:bold; color:#89513a;}
.section7 > div > ul li li{font-size:16px;line-height:30px;font-weight:bold;}
.section7 > div > ul li li a{color:#89513a;}

footer{width:100%;height:272px;background:#292929; }
footer li{color:#fff;}
footer div{width:68%;margin:0 auto;background:red;}
footer ul:nth-child(1) img{margin-top:47px; margin-bottom:28px;}
footer ul:nth-child(1){float:left;}
footer ul:nth-child(2){float:right; margin-top:47px;}
footer ul:nth-child(2) li {float:left; text-align:center;}
footer ul:nth-child(2) li:nth-child(2){width:122px;height:20px;margin-left:10px;margin-right:10px; border-left:1px solid gray; border-right:1px solid gray;}
footer ul:nth-child(2) li:nth-child(n+4){width:118px;background:#434343;margin-top:24px; height:32px;border-radius:5px;line-height:33px;}
footer ul:nth-child(2) li:nth-child(4){clear:both;margin-right:3px;}


/**/

@media all and (max-width:1470px){
		header .hdm{width:70%;}
		header .mainmenu{ width:20%;}
		header .order{margin-left:0; font-size:1vw;}
		.section1,.section2,.section3,.section4,.section5,.section6,header .wrap{width:100%;}
		.section3 .sns{width:80%;}
		.section3 .sns_list:nth-child(1) li:nth-child(1){width:30%;height:7vw;}
		.section3 .sns_list:nth-child(2) li:nth-child(1){width:30%;height:7vw;}
		.section3 .sns_list:nth-child(3) li:nth-child(1){width:30%;height:7vw;}
		.section1 .slide{width:100%;}
		footer div{width:95%;}
		}
@media all and (max-width:1442px){

	.section5 div:nth-child(2) li:nth-child(1){background:url(../img/icon_1.png)no-repeat;background-size:cover; border-right:none;}
	.section5 div:nth-child(2) li:nth-child(2){background:url(../img/icon_2.png)no-repeat 0 -5px;background-size:cover; border-right:none;}
	.section5 div:nth-child(2) li:nth-child(3){background:url(../img/icon_3.png)no-repeat;background-size:cover; border-right:none;}
	.section5 div:nth-child(2) li:nth-child(4){background:url(../img/icon_4.png)no-repeat 0 -5px;background-size:cover; border-right:none;}
	.section5 div:nth-child(2) li:nth-child(5){background:url(../img/icon_5.png)no-repeat;background-size:cover; border-right:none;}
	.section5 div:nth-child(2) li:nth-child(6){background:url(../img/icon_6.png)no-repeat 0 -2px;background-size:cover; }
	.section5 div:nth-child(2) li p{margin-top:103px; font-size:20px; color:#000;}
	.section5 div:nth-child(2) li span{color:#e22219; font-size:20px; font-weight:bold;display:block; text-align:center; margin-top:-10px;}
	.section5 div:nth-child(2){width:80%;height:300px; margin:0 auto; margin-top:50px;;}
	.section5 div:nth-child(2) li{background:pink; width:190px;height:83px;float:left; margin-left:0px;}
	.section5 div:nth-child(2) li p{display:block;text-align:center;}


	.section5 {height:800px;}
	.section5 div:nth-child(2){width:95%; }
	.section5 div:nth-child(2) li{width:20%;height:8.7vw;}
	.section5 div:nth-child(2) li:nth-child(4){clear:both;}
	.section5 div:nth-child(2) li:nth-child(2),.section5 div:nth-child(2) li:nth-child(5){margin-left:19%;}
	.section5 div:nth-child(2) li:nth-child(3),.section5 div:nth-child(2) li:nth-child(6){float:right;}
	.section5 div:nth-child(2) li:nth-child(n+4){margin-top:100px;}
	.section5 div:nth-child(2) li p{margin-top:10vw;}
}
@media all and (max-width:1480px){
.section7{display:none;}
}
@media all and (max-width:1000px){
	.section6 h2,.section6 p:nth-child(2){margin-left:0;}
	.section6 p:nth-child(3){margin-right:0;}
}
@media all and (max-width:767px){
		
		header .h1{display:none;}
		header .wrap{width:100%;}
		header .hn{height:; }
		header .hdm{width:100%;}
		header .mainmenu{width:100%;}
		header .order{display:none;}
		header .hdm:hover ul {display:none;}
		header .hdm .mainmenu:nth-child(2) ul, header .hdm .mainmenu:nth-child(3) ul{display:block;}
		header .hdm .mainmenu:nth-child(1) ul{display:block;}
		.sbtit{display:block; width:9%; margin:0 auto; margin-top:5px;}
		.sbtit img{width:100%; height:auto; }
		header .mainmenu{margin-top:0px;}
		header .mainmenu:nth-child(n+2){margin-top:20px;}
		
		.section1 .slide{margin-top:57px;}
		
		.section3{height:200px;}
		.section3 .sns{width:100%;}
		.section3 .sns_list:nth-child(1) li:nth-child(1){width:60px;height:60px;margin-left:40%;}
		.section3 .sns_list:nth-child(2) li:nth-child(1){width:60px;height:60px;margin-left:40%;}
		.section3 .sns_list:nth-child(3) li:nth-child(1){width:60px;height:60px;margin-left:40%;}
		.section3 .sns_list:nth-child(3) li:nth-child(1){margin-right:0;}
		.section3 .sns_list > li:nth-child(2){clear:both; margin-top:0;}
		.section3 .sns_list:nth-child(1) li:nth-child(2) {margin-left:33%;}	
		.section3 .sns_list:nth-child(2) li:nth-child(2) {margin-left:32%;}
		.section3 .sns_list:nth-child(3) li:nth-child(2) {margin-left:30%;}
		.section3 .sns_list li:nth-child(2){font-size:18px;}
		.section3 .sns_list li:nth-child(2) span > a{font-size:12px;}
		
		.section4{height:63vw;}
		.section4 > div > div:nth-child(1){background:url(../img/bg_home_guide_appM.d8cd168b.png)no-repeat;height:63vw;background-color:#c7a186; background-size:cover;}
		.section4 > div > div:nth-child(2){background:url(../img/bg_home_guide_deliveryM.c203b554.png)no-repeat;height:63vw;background-color:#b08972; background-size:cover;}
		.section5 div:nth-child(2){width:100%;}
			
			/**/
		.section5{height:480px;}
		.section5 div:nth-child(1){margin-top:-20px;}
		.section5 div:nth-child(1) li:nth-child(1){position:relative; top:10px;font-size:25px; font-weight:bold;}
		.section5 div:nth-child(1) li:nth-child(2){margin-top:25px; font-size:14px;}
		.section5 div:nth-child(1) li:nth-child(3){width:132px;height:31px; margin:0 auto; margin-top:19px;background:url(../img/btn_webhead_order.dd5f3d96.png)no-repeat;}
		.section5 div:nth-child(1) li:nth-child(3) a{font-size:20px; font-weight:bold; line-height:35px; color:#fff;}
		
		.section5 div:nth-child(2){height:230px;}
		.section5 div:nth-child(2) li{}
		.section5 div:nth-child(2) li p {display:none;}
		.section5 div:nth-child(2) li span{margin-top:10vw; font-size:15px;}
		
		.section6 h2{font-size:18px; margin-top:0;margin-left:15px; }
		.section6 p:nth-child(2){margin-left:15px;}
		.section6 p:nth-child(3){float:left; margin-top:15px; margin-left:15px;font-size:25px;}

		footer{height:350px;}
		footer div{width:98%;}
		footer div ul {width:100%; position:relative;}
		footer div ul:nth-child(1){top:130px;}
		footer div ul:nth-child(2){top:-160px;}
		
		footer ul:nth-child(2) li{width:31%;}
		footer ul:nth-child(2) li:nth-child(2){width:31%;}
		footer ul:nth-child(2) li:nth-child(n+4){width:49%; height:40px; line-height:42px;}
		footer ul:nth-child(2) li:nth-child(4){clear:both;margin-right:3px;}
		}